<ul id="nav">
<% if logged_in? -%>
		<li><b><%=h current_user.login.capitalize %></b></li>
	<% if current_user.admin? -%>
		<li><%= link_to "settings", site_path %></li>
	<% end -%>
		<li><%= link_to "Logout", logout_path %></li>
<% else -%>
	<li><b>Anonymous</b></li>
	<li><%= link_to "Signup", new_user_path %> or <%= link_to "Login", login_path %></li>
<% end -%>
</ul>