<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= site.title %> <%= ("- " + @page.title ) if @page %></title>
	<%= javascript_include_tag "jquery-1.2.3.min.js", :cache => "burstwiki" %>
	<%= javascript_include_tag "../markitup/jquery.markitup.js", :cache => "burstwiki" %>
	<%= javascript_include_tag "../markitup/sets/textile/set.js", :cache => "burstwiki" %>
	<%= javascript_include_tag "application", :cache => "burstwiki" %>
	<%= stylesheet_link_tag 'reset', :cache => "burstwiki" %>
	<%= stylesheet_link_tag 'burst', :cache => "burstwiki" %>
	<%= stylesheet_link_tag '../markitup/skins/markitup/style.css', :cache => "burstwiki" %>
	<%= stylesheet_link_tag '../markitup/sets/textile/style.css', :cache => "burstwiki" %>
</head>
<body id="<%= controller.controller_name %>">
	<div id="header" class="clearfix">
		<div id="navbar">
		  <%= render :partial => "shared/navbar" %>
		</div>
		<h1><%= link_to site.title, wiki_page_url("home"), :id => "site_name" %></h1>
	</div><!-- end #header -->
	
	<div id="side">
	  <%= yield :side %>
	</div><!-- end #side -->
	
	<div id="container">
		<div id="main">
			<% if flash %>
				<% flash.keys.each do |key| %>
					<div id="flash" class="flash_<%=key%>">
					  <%= flash[key] %>
					</div>
				<% end %>
			<% end %>
			<%= yield %>
		</div><!-- end #main -->
				
	</div><!-- end #container -->

</body>
</html>